<h1>Mes produits</h1>

<% Product.all.each do |product| %>
	<div class="row-fluid">
	    <h2><%= product.title %></h2>
	    <p><%= product.desc %></p>
	    <p>
	    	<%= link_to "En savoir plus »", product_path(product) %>
	    </p>
	</div>
<% end %>